<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

	<Properties>
		<Property name="log-path">logs/</Property>
	</Properties>
	
	<Appenders>
	
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS} - %c{1}: %m%n</pattern>
			</PatternLayout>
		</Console>
	
		<RollingFile name="RollingFile"
					 fileName="${log-path}/app.log"
					 filePattern="${log-path}/app-%i.log" >
					 
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS} - [%t] %c{1}: %m%n</pattern>
			</PatternLayout>
			
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="1"/>
		</RollingFile>
	</Appenders>
	
	<Loggers>
        <Logger name="playground.selenium" level="debug" additivity="false">
            <appender-ref ref="console-log" level="debug"/>
            <appender-ref ref="RollingFile" level="debug"/>
        </Logger>

	</Loggers>
</Configuration>
